@tailwind base;
@tailwind components;
@tailwind utilities;


.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
}

.page-content {
    @apply font-light text-black;
}

.page-content strong {
    @apply font-semibold;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
    @apply font-semibold;
}

.page-content h1 {
    @apply text-3xl;
}

.page-content h2 {
    @apply text-2xl;
}

.page-content h3 {
    @apply text-xl;
}

.hero-section {
    background-image: url('../images/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.tab-content {
    @apply h-[500px]
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?cjlv7l');
    src: url('fonts/icomoon.eot?cjlv7l#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?cjlv7l') format('truetype'),
        url('fonts/icomoon.woff?cjlv7l') format('woff'),
        url('fonts/icomoon.svg?cjlv7l#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
    content: "\f053";
}

.icon-chevron-right:before {
    content: "\f054";
}

.icon-chevron-up:before {
    content: "\f077";
}

.icon-chevron-down:before {
    content: "\f078";
}

.icon-external-link:before {
    content: "\f08e";
}

.icon-caret-down:before {
    content: "\f0d7";
}

.icon-caret-up:before {
    content: "\f0d8";
}

.icon-caret-left:before {
    content: "\f0d9";
}

.icon-caret-right:before {
    content: "\f0da";
}

.icon-angle-left:before {
    content: "\f104";
}

.icon-angle-right:before {
    content: "\f105";
}

.icon-angle-up:before {
    content: "\f106";
}

.icon-angle-down:before {
    content: "\f107";
}



/* The CSS for the diagonal separator of page template header */

.page-title .custom-shape-divider-bottom-1675786129 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.page-title .custom-shape-divider-bottom-1675786129 svg {
    position: relative;
    display: block;
    width: calc(188% + 1.3px);
    height: 61px;
    transform: rotateY(180deg);
}

.page-title .custom-shape-divider-bottom-1675786129 .shape-fill {
    fill: #FFFFFF;
}

/*  ----------------------------------------------------*/

/* The CSS for the diagonal separator of home page header */

.hero-section .custom-shape-divider-bottom-1676052306 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.hero-section .custom-shape-divider-bottom-1676052306 svg {
    position: relative;
    display: block;
    width: calc(212% + 1.3px);
    height: 150px;
}

.hero-section .custom-shape-divider-bottom-1676052306 .shape-fill {
    fill: #FFFFFF;
}

/*  ----------------------------------------------------*/

#project-tabs-nav li.active {
    @apply border-b-4 border-ig-orange text-ig-orange
}

:root {
    --animate-delay: 0.05s;
}

#tabs-nav span {
    @apply text-white;
}


/* Sweep To Right */
.sweep-to-right {
    /* padding: 20px; */
    background: transparent;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
}
.sweep-to-right:before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}
/* .sweep-to-right.active {
    color: white;
} */
.sweep-to-right.active:before {
    transform: scaleX(1);
}
.sweep-to-right#map:before {
    @apply bg-ig-olive;
}

.sweep-to-right#connect:before {
    @apply bg-ig-mustard;
}

.sweep-to-right#discover:before {
    @apply bg-ig-orange;
}

.twitter-timeline {
    @apply rounded-2xl shadow-lg;
}

footer {
    background-image: url('../images/footer.png');
    background-size: cover; 
    background-position: center;
}

.page-title {
    background-image:url('../images/BG.png'); 
    background-repeat: no-repeat; 
    background-position: center -50px;
    background-size: cover;
}