@tailwind base;
@tailwind components;
@tailwind utilities;


/* =WordPress Core-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* =WordPress Core-------------------------------------------------------------- */

body {
    font-family: 'Inter',
        'system-ui',
        '-apple-system',
        'BlinkMacSystemFont',
        '"Segoe UI"',
        'Roboto',
        '"Helvetica Neue"',
        'Arial',
        '"Noto Sans"',
        'sans-serif',
        '"Apple Color Emoji"',
        '"Segoe UI Emoji"',
        '"Segoe UI Symbol"',
        '"Noto Color Emoji"' !important;
}

.page-content a:not(.btn) {
    @apply tw-text-ig-orange tw-underline tw-font-normal;
}

::selection
{
    @apply tw-bg-ig-orange tw-text-white;
}

.page-title h1{ 
    @apply tw-text-3xl;
}

.page-content a:link {
}

.page-content a:visited {
}

.page-content a:focus {
}

.page-content a:hover {
}

.page-content a:active {
}

.page-content hr {
    border-top: 2px dotted #8c8b8b;
	border-bottom: 2px dotted #fff;
    @apply tw-my-3;
}

.page-content ul {
    @apply tw-pl-5 tw-list-disc tw-list-outside tw-py-1;
}

.page-content {
    @apply tw-font-light tw-text-black;
}

.page-content strong {
    @apply tw-font-semibold;
}

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
    @apply tw-font-semibold tw-my-2.5;
}

.page-content h1 {
    @apply tw-text-3xl;
}

.page-content h2 {
    @apply tw-text-2xl;
}

.page-content h3 {
    @apply tw-text-xl;
}

.page-content p {
    @apply tw-py-1;
}

.page-content img,
.page-content .card img , 
.page-content iframe {
    @apply tw-rounded-md tw-shadow-lg tw-overflow-hidden;
}
.dataResources ul {
    @apply tw-list-none
}
.dataResources ul li a.nav-link.active {
    @apply tw-text-white tw-bg-ig-orange;
}

.curr-card {
    @apply tw-bg-center tw-bg-cover tw-shadow-lg;
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.26);
}

.hero-section {
    background-image: url('../images/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.tw-tab-content {
    @apply tw-h-[500px]
}

/* The CSS for the diagonal separator of page template header */

.page-title .custom-shape-divider-bottom-1675786129 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.page-title .custom-shape-divider-bottom-1675786129 svg {
    position: relative;
    display: block;
    width: calc(188% + 1.3px);
    height: 61px;
    transform: rotateY(180deg);
}

.page-title .custom-shape-divider-bottom-1675786129 .shape-fill {
    fill: #FFFFFF;
}

/*  ----------------------------------------------------*/

/* The CSS for the diagonal separator of home page header */

.hero-section .custom-shape-divider-bottom-1676052306 {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.hero-section .custom-shape-divider-bottom-1676052306 svg {
    position: relative;
    display: block;
    width: calc(212% + 1.3px);
    height: 150px;
}

.hero-section .custom-shape-divider-bottom-1676052306 .shape-fill {
    fill: #FFFFFF;
}

/*  ----------------------------------------------------*/

#project-tabs-nav li.active {
    @apply tw-border-b-4 tw-border-ig-orange tw-text-ig-orange
}

:root {
    --animate-delay: 0.05s;
}

#tabs-nav span {
    @apply tw-text-white;
}


/* Sweep To Right */
.sweep-to-right {
    /* padding: 20px; */
    background: transparent;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
}

.sweep-to-right:before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}

/* .sweep-to-right.active {
    color: white;
} */
.sweep-to-right.active:before {
    transform: scaleX(1);
}

.sweep-to-right#map:before {
    @apply tw-bg-ig-olive;
}

.sweep-to-right#connect:before {
    @apply tw-bg-ig-mustard;
}

.sweep-to-right#discover:before {
    @apply tw-bg-ig-orange;
}

.twitter-timeline {
    /* @apply tw-rounded-2xl tw-shadow-lg; */
}

footer {
    background-image: url('../images/footer.png');
    background-size: cover;
    background-position: center;
}

.page-title {
    background-image: url('../images/BG.png');
    background-repeat: no-repeat;
    /* background-position: center -50px; */
    background-size: cover;
    background-size: 190% 200%;
    background-position: center top;

    @apply md:tw-bg-[center_top] md:tw-bg-cover lg:tw-bg-[center_-370px] ;
}


/*-------------------------------Sing up form ---------*/

#ctct_form_0 {
    @apply md:tw-grid tw-grid-cols-4 tw-gap-5; 
}
.ctct-form-embed.form_0 .ctct-form-defaults {
    @apply !tw-bg-transparent !tw-px-0 !tw-pt-5;
}

#ctct_form_0  label {
    @apply tw-font-semibold tw-text-sm lg:tw-text-base;
}

div.ctct-form-embed form.ctct-form-custom input.ctct-form-element {
    @apply !tw-p-2 !tw-h-auto tw-text-sm lg:tw-text-base;
}
.ctct-form-embed.form_0 .ctct-form-custom .ctct-form-button {    
    @apply tw-self-center !tw-bg-ig-teal !tw-border-0;
}

#success_message_0 {
    @apply tw-text-center tw-bg-ig-orange !tw-text-black tw-p-5;
}
.ctct-form-header {
    @apply !tw-text-black;
}

#ctct_form_0 .ctct-form-header,
#ctct_form_0 .ctct-form-text,
#gdpr_text,
.ctct-form-footer 
{
    @apply !tw-hidden;
}
/* #main-menu {
    @apply tw-hidden md:tw-flex tw-items-center tw-text-sm xl:tw-text-base tw-space-x-4 xl:tw-space-x-8 tw-font-light;
} */